version: "3.9"

services:
  telegram_bot:
    build: .
    container_name: telegram_bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./bot.log:/app/bot.log
      - ./base.db:/app/base.db