version: "3.9"

services:
  telegram_bot:
    build: .
    container_name: telegram_bot
    restart: always
    user: "${UID}:${GID}"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
      - ./base.db:/app/base.db